@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  /*vertical-align: baseline;*/
}

div {
  position: relative;
  z-index: 2;
}

body{
  background-color:#333;
  color:#333;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  
  justify-content:center;
  align-items: center;
  height:100vh;
}

h1{
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 40px 20px;
  
}
.footer{
  width:500px;
  text-align:center;
  display:block;
  margin: 20px auto;
  font-size: 0.8em;
  color:#fff;
}

.footer a{
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
.footer:hover{
  font-weight:600;
  font-size: 0.9em;
}

#quote-box{
  border-radius: 8px;
  position: relative;
  width: 500px;
  padding: 40px 60px;
  margin: auto;
  margin-top:10px;
  display: table; /*?*/
  background-color: #fff;
}

#quote-box .quote-text{
  text-align: center;
  width: 500px;
  height: auto;
  clear: both; /*?*/
  font-weight: 500;
  font-size: 1.75em;
}

#quote-box .quote-text i{
  font-size: 1em;
  margin-right: 0.4em;
}

#quote-box .quote-author{
  width: 500px;
  height: auto;
  clear: both;
  padding: 20px 0;
  font-size: 1em;
  text-align: right;
}

#quote-box .buttons{
  width: 500px;
  margin: auto;
  display: block;
  gap:20px;
}

#quote-box .buttons .button{
  height: 40px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px;
  margin-right: 10px;
  opacity: 1;
  cursor: pointer;
}

#quote-box .buttons .button:hover {
  opacity: 0.8;
}


#new-quote{
  float: right;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px;
  margin-top: 0px;
  opacity: 1;
  cursor: pointer;
}

#new-quote:hover{
  opacity: 0.8;
}